<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
	<h:outputStylesheet library="duxus" name="estilo.css" />
</h:head>

<h:body>

	<div id="login-dialog">
		<h1>Login</h1>
		
		<h:form id="frm">
			<p:messages autoUpdate="true" />
	
			<h:panelGrid columns="2" styleClass="grid-login">
				<p:outputLabel value="Usuário" for="usuario" />
				<p:inputText id="usuario" size="20" value="#{loginBean.nomeUsuario}" />
				
				<p:outputLabel value="Senha" for="senha" />
				<p:password id="senha" size="20" value="#{loginBean.senha}" />
				
				<p:outputLabel />
				<p:commandButton value="Acessar" action="#{loginBean.login}" />
			</h:panelGrid>
		</h:form>
	</div>
	
</h:body>

</html>